# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [20]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, ttest_1samp
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:
salaries = pd.read_csv('./Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
salaries.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
print(salaries.isnull())

        Name  Job Titles  Department  Full or Part-Time  Salary or Hourly  \
0      False       False       False              False             False
1      False       False       False              False             False
2      False       False       False              False             False
3      False       False       False              False             False
4      False       False       False              False             False
...      ...         ...         ...                ...               ...
33178  False       False       False              False             False
33179  False       False       False              False             False
33180  False       False       False              False             False
33181  False       False       False              False             False
33182  False       False       False              False             False

       Typical Hours  Annual Salary  Hourly Rate
0               True          False         True
1               True          False         True
2               True          False         True
3               True          False         True
4              False           True        False
...              ...            ...          ...
33178           True          False         True
33179           True          False         True
33180           True          False         True
33181           True          False         True
33182           True          False         True

[33183 rows x 8 columns]

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
counts = salaries['Salary or Hourly'].value_counts()
print(counts)

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
department_counts = salaries.groupby('Department').size()
print(department_counts)

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [11]:
from statsmodels.stats.weightstats import ztest
# Since we have an N of 8022 and only one sample (Hourly workers), we go for a Z-test
# H0: Hourly rate == 30
# H1: Hourly rate != 30
salaries_hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']
print(salaries_hourly)
typical_hours = salaries_hourly['Typical Hours'].dropna()

population_mean = 30

z_stat, p_value = ztest(typical_hours, value=population_mean)
print(f"Z-stat: {z_stat}")
print(f"p-value: {p_value}")

# your code here

                         Name                      Job Titles  \
4           ABASCAL,  REECE E     TRAFFIC CONTROL AIDE-HOURLY
6       ABBATACOLA,  ROBERT J             ELECTRICAL MECHANIC
7          ABBATE,  JOSEPH L          POOL MOTOR TRUCK DRIVER
10           ABBOTT,  BETTY L              FOSTER GRANDPARENT
18       ABDULLAH,  LAKENYA N                  CROSSING GUARD
...                       ...                             ...
33164        ZUREK,  FRANCIS              ELECTRICAL MECHANIC
33168  ZWARYCZ MANN,  IRENE A                  CROSSING GUARD
33169      ZWARYCZ,  THOMAS J         POOL MOTOR TRUCK DRIVER
33174        ZYGADLO,  JOHN P          MACHINIST (AUTOMOTIVE)
33175     ZYGADLO,  MICHAEL J  FRM OF MACHINISTS - AUTOMOTIVE

             Department Full or Part-Time Salary or Hourly  Typical Hours  \
4                  OEMC                 P           Hourly           20.0
6              AVIATION                 F           Hourly           40.0
7         STREETS & SAN                 F           Hourly           40.0
10     FAMILY & SUPPORT                 P           Hourly           20.0
18                 OEMC                 P           Hourly           20.0
...                 ...               ...              ...            ...
33164              OEMC                 F           Hourly           40.0
33168              OEMC                 P           Hourly           20.0
33169       WATER MGMNT                 F           Hourly           40.0
33174  GENERAL SERVICES                 F           Hourly           40.0
33175  GENERAL SERVICES                 F           Hourly           40.0

       Annual Salary  Hourly Rate
4                NaN        19.86
6                NaN        46.10
7                NaN        35.60
10               NaN         2.65
18               NaN        17.68
...              ...          ...
33164            NaN        46.10
33168            NaN        17.68
33169            NaN        35.60
33174            NaN        46.35
33175            NaN        48.85

[8022 rows x 8 columns]
Z-stat: 43.63629396989955
p-value: 0.0

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [12]:
# Subset of the dataset: only Police department
salaries_police = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]

In [13]:
# Since we have an N of 13404 and only one sample (salary of the police), we go for a Z-test
# H0: Annual Salary == 86000
# H1: Annual Salary > 86000

typical_salary = salaries_police['Annual Salary']
mean_salary = 8600
z_stat, p_value = ztest(typical_salary, value=mean_salary)
print(f"Z-stat: {z_stat}")
print(f"p-value: {p_value}")

Z-stat: 493.5002857399385
p-value: 0.0

Using the `crosstab` function, find the department that has the most hourly workers.

In [16]:
crosstab = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])
print(crosstab)
hourly_workers_by_department = crosstab['Hourly']
max = hourly_workers_by_department.max()
idxmax = hourly_workers_by_department.idxmax()

print(idxmax, max)

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366
STREETS & SAN 1862

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [21]:
street_san_hourly_employees = salaries[(salaries["Department"] == "STREETS & SAN") & (salaries["Salary or Hourly"] == "Hourly")]
print(street_san_hourly_employees)
hourly_rate_streets_san = street_san_hourly_employees["Hourly Rate"]
print(hourly_rate_streets_san)

alpha = 0.05
hypothesized_mean = 35
t_statistic, p_value = ttest_1samp(hourly_rate_streets_san, hypothesized_mean, alternative="less")

if p_value < alpha:
    print("Reject the null hypothesis. There is evidence that the mean hourly wage is less than $35/hour.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence that the mean hourly wage is less than $35/hour.")

                         Name               Job Titles     Department  \
7          ABBATE,  JOSEPH L   POOL MOTOR TRUCK DRIVER  STREETS & SAN
21      ABDUL-SHAKUR,  TAHIR     GENERAL LABORER - DSS  STREETS & SAN
24     ABERCROMBIE,  TIMOTHY        MOTOR TRUCK DRIVER  STREETS & SAN
36        ABRAMS,  DANIELLE T       SANITATION LABORER  STREETS & SAN
39          ABRAMS,  SAMUEL A  POOL MOTOR TRUCK DRIVER  STREETS & SAN
...                       ...                      ...            ...
33106        ZIZUMBO,  JOSE N       MOTOR TRUCK DRIVER  STREETS & SAN
33107         ZIZUMBO,  LUIS        MOTOR TRUCK DRIVER  STREETS & SAN
33147        ZUMMO,  ROBERT J       MOTOR TRUCK DRIVER  STREETS & SAN
33149     ZUNICH,  JONATHAN G       SANITATION LABORER  STREETS & SAN
33156        ZUNIGA,  THOMAS     GENERAL LABORER - DSS  STREETS & SAN

      Full or Part-Time Salary or Hourly  Typical Hours  Annual Salary  \
7                     F           Hourly           40.0            NaN
21                    F           Hourly           40.0            NaN
24                    F           Hourly           40.0            NaN
36                    F           Hourly           40.0            NaN
39                    F           Hourly           40.0            NaN
...                 ...              ...            ...            ...
33106                 F           Hourly           40.0            NaN
33107                 F           Hourly           40.0            NaN
33147                 F           Hourly           40.0            NaN
33149                 F           Hourly           40.0            NaN
33156                 F           Hourly           40.0            NaN

       Hourly Rate
7            35.60
21           21.43
24           35.60
36           36.21
39           35.60
...            ...
33106        36.13
33107        35.60
33147        35.60
33149        36.21
33156        22.12

[1862 rows x 8 columns]
7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64
Reject the null hypothesis. There is evidence that the mean hourly wage is less than $35/hour.